<form action='/urls' method='post'>
	<input type='text' name='link'>
	<input type='submit' value='Shorten'>
</form>

<table>
	<thead>
		<td>ID</td>
		<td>Original</td>
		<td>Shortened</td>
		<td>Link for Shortened</td>
		<td>Visit Count</td>
	</thead>
<% @urls.each do |url| %>
	<tr>
		<td><%= url.id %></td>
		<td><%= link_to "#{url.link}", edit_url_path(url.id) %></td>
		<td><%= link_to "Edit", edit_url_path(url.id) %></td>
		<td><%= link_to "#{request.host}:#{request.port.to_s}/#{url.short}", url_path(url.id) %></td>
		<td><%= url.count %></td>
	</tr>
<% end %>
</table>