<form action='/urls' method='post' class='well form-inline'>
	<label class='control-label' for='link'>Original URL</label>
	<input type='text' class='input-xlarge' name='link' placeholder='Original URL Required'>
	<label class='control-label' for='link'>Custom Shortcode</label>
	<input type='text' class='input-medium' name='short' placeholder='Optional'>
	<input type='submit' value='Shorten' class='btn btn-primary'>
</form>

<% if !@urls.empty? %>
<table class='table table-striped'>
	<thead>
		<tr>
			<th>ID</th>
			<th>Original</th>
			<th>Shortened</th>
			<th>Link for Shortened</th>
			<th>Visited Count</th>
		</tr>
	</thead>
	<tbody>
	<% @urls.each do |url| %>
	<tr>
		<td><%= url.id %></td>
		<td><%= link_to "#{url.link}", edit_url_path(url.id) %></td>
		<td><%= link_to "Edit", edit_url_path(url.id) %></td>
		<td><%= link_to "#{request.host}:#{request.port.to_s}/#{url.short}", url_path(url.id) %></td>
		<td><%= url.count %></td>
	</tr>
	<% end %>
	</tbody>
</table>
<% end %>